  <script type="text/javascript">
    var layer_config = <%= @layer_config.to_json.to_s.html_safe %>;
    var mapState = <%= @mapState.to_json.html_safe %>;
  </script>
  <div class="menu-wrap">
    <nav class="menu">
      <!--<div class="profile"><span>Layers</span></div>-->
      <% if @layers.empty? %>
        <div class="link-list">
          <ul><li><a href="#"><span>You have no layers enabled.</span></a></li></ul>
        </div>
      <% else %>
        <div class="link-list">
            <!-- Beginning of Layer blocks -->
            <% @layers.each do |layer| %>
                <div class="layerBlock" data-layer="<%= layer.title =%>" data-id="<%= layer.id %>">
                    <div class="layerBlockHeader">
                        <div class="layerBlockHeaderLabel"><%= layer.title %></div>
                        <div>
                            <input type="checkbox" value="None" id="squaredFour" name="check" checked data-layer="<%= layer.name %>" data-id="<%= layer.id %>"/>
                        </div>
                    </div>
                    <div class="layerBlockContent"></div>
                </div>
            <% end %>
        </div>
      <% end %>
      <div class="icon-list">
        <i class="fa fa-spinner" id="loadIndicator"></i>
        <a href="<%= url_for edit_user_path(@loggedin_user.id) %>"><i class="fa fa-fw fa-home"></i></a>
        <a href="http://dedicatedmaps.com/help"><i class="fa fa-fw fa-question-circle"></i></a>
      </div>
    </nav>
  </div>
  <button class="menu-button" id="open-button"><i class="fa fa-fw fa-cog"></i><span>Open Menu</span></button>
  <div class="content-wrap">
    <div class="content">
      <div id="map_div"></div>
    </div>
  </div>