<div class="form-group">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name, class: "form-control"%>
</div>

<div class="form-group">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :email %><br />
  <%= f.text_field :email, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :username %> <br />
  <%= f.text_field :username, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :Timezone%><br />
  <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {default: "UTC"}, {:class => 'form-control'} %>

</div>