<h1><%= @user.first_name + ' ' +  @user.last_name%></h1>

<ul data-tabs="tabs" class="nav nav-tabs" id="usertabs">  
  <li class="active" role="presentation"><a href="#account" data-toggle="tab">Account</a></li>  
  <li role="presentation"><a href="#layers" data-toggle="tab">Layers</a></li>  
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="account">
    <% if @privileges %>
      <% # If privileges are enabled, then this is an admin or super user.  %>

      <% if @loggedin_user.id != @user.id %>
        <% # Users can't deactivate their own accounts. Supers do other supers, admins, and users.  %>
        <% # Admins do other admins and users.  %>
            <h4>Administrator Options</h4>
      
        <%= button_to 'Enable/Disable Account', 
          :url => { :action => 'activate', :id => @user.id },
          :update => 'disable_message',
          :loading => "Element.show('active_loading')",
          :complete => "Element.hide('active_loading')"
        %>

        <% if @user.active %>
          <span id="disable_message">This account is currently enabled.</span>
        <% else %>
          <span id="disable_message">This account is currently disabled.</span>
        <% end %>
        
         <%= button_to "Recover Password", {action: "recover/#{@user.id}"}  %>
         
         A new password will be emailed to this user.
         <div id="reset_message"></div>
        
        <hr />
      <% end %>
    <% end %>
    
    <div <%= "style='float:left;margin-right:10px; border-right:thin solid grey;'" if @loggedin_user.is?(@user) %> >
      <%= form_for @user, {
          :update => "account_message",
          :loading => "Element.hide('account_message');Element.show('account_loading')",
          :complete => "Element.show('account_message');Element.hide('account_loading')",
          :class => "form"
          } do |f| -%>

        <% @user.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
          
        <% if @clients %>
          <p>
            <%= f.label :client %>
            <%= f.collection_select :client_id, @clients, :id, :company_name, {}, {class: "form-control"} %>
          </p>
        <% end %>
        
        <% if @privileges && !@loggedin_user.is?(@user) %>
          <p>
            <%= f.label :privilege %>
            <%= f.collection_select :privilege_id, @privileges, :id, :name, {}, {class: "form-control"} %>
          </p>

        <% end %>

        <%= render :partial => 'form' , :locals => {:f => f}%>
       
        <%= submit_tag "Submit", class: "btn" %>

        <div id="account_message"></div>
      <% end %>
    
  
    <div>

      <% # Reset password. Supers/admins can do an email reset for others. All can set their own password %>
          
      <% if @loggedin_user.is?(@user) %>

          <h3>Change Password</h3>
        
        <%= form_for @user do |f| %>
        
         <% @user.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
          
         <p>
           <label for="user_password">New Password:</label><br />
           <%= f.password_field :password, class: "form-control" %><br />
         </p>
         
         <p>
           <label for="user_password_confirmation">Password Confirmation:</label><br />
           <%= f.password_field :password_confirmation, class: "form-control" %><br />
         </p>
         
         <%= submit_tag "Submit", class: "btn" %>
      
       <% end %>  

      <% end %>

    </div>
  </div>

</div>
  <div class="tab-pane fade" id="layers">
   
    <%= form_for @user, {
    :loading => "Element.show('layer_loading')",
    :complete => "Element.hide('layer_loading')"
    } do |f| -%>

      <%= render :partial => 'layers' , :locals => {:f => f, :user => @user} %>
      <br />
      <%= f.hidden_field(:id) %>
      <br />
      <%= f.submit 'Update', class: "btn" %>
      <span id='layer_loading' class='loader' style='display:none;'>Updating...</span>
      
      <div id="layer_message"></div>

    <% end %>

  </div>
  
</div>

<script type="text/javascript">
  // Switch user in view when select element changes
  $('select#user_client_id').change(function () {
    var opt = $(this).val();
    document.location = '/users/' + opt + '/edit'
  });
</script>