<div class="col-md-4" style="float:left; padding-right:20px;">
  <p>
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name, class: "form-control" %>
  </p>
  <p>
    <%= f.label :address1 %><br />
    <%= f.text_field :address1, class: "form-control" %>
  </p>
  <p>
    <%= f.label :address2 %><br />
    <%= f.text_field :address2, class: "form-control" %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city, class: "form-control" %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip, class: "form-control" %>
  </p>
  <p>
    <%= f.label :company_url %><br />
    <%= f.text_field :company_url, class: "form-control" %>
  </p>
  <p>
    <%= f.label :contact_name %><br />
    <%= f.text_field :contact_name, class: "form-control" %>
  </p>
  <p>
    <%= f.label :contact_phone %><br />
    <%= f.text_field :contact_phone, class: "form-control" %>
  </p>
  <p>
    <%= f.label :contact_email %><br />
    <%= f.text_field :contact_email, class: "form-control" %>
  </p>
  <p>
    <%= f.submit 'Submit', class: "btn" %>
  </p>
</div>

<div class="col-md-3">
  <p>
    <%= f.label :contact_notes %><br />
    <%= f.text_area :contact_notes, class: "form-control" %>
  </p>
</div>