<fieldset>

<legend>Clients</legend>

  <%= link_to 'Add new client', new_client_path %><br /><br />

  <% if @clients.nil? %>

    <br />You have no clients configured.

  <% else %>

    <table class="index">
      <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Active</th>
      </tr>

      <% @clients.each do |client| %>
        <tr bgcolor="<%= cycle("#dddddd", "#ffffff") %>">
          <td>
            <b><%=h client.company_name %></b><br />
            <%=h client.address1 %><br />
            <%=h client.address2 %><% if client.address2.to_s.length != 0 %><br /><% end %>
            <%=h client.city %>, <%=h client.state %> <%=h client.zip %><br />
            <%=h client.company_url %>
          </td>
          <td>
            <%=h client.contact_name %><br />
            <%=h client.contact_phone %><br />
            <%=h client.contact_email %>
          </td>
          <td><%=h client.active %></td>
          <td><%= link_to 'Edit', edit_client_path(client) %></td>
        </tr>
      <% end %>
      
    </table>

  <% end %>
  
</fieldset>