<p>
  <%= f.label :client %><br />
  <%= f.collection_select :client_id, @clients, :id, :company_name %>
</p>

<p>
  <%= f.label :username, 'Subdomain'%> (e.g. http://subdomain.dedicatedmaps.com)<br />
  <%= f.text_field :username %> 
</p>

<p>
  <%= f.label :Timezone%><br />
  <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
</p>