<h1>Public Map Settings: http://<%= @public_map.username %>.dedicatedmaps.com</h1>
<p>
  <% if @public_map.active %>
      <span id="disable_message">This map is currently enabled.</span>
      <%= button_to 'Disable Map', {
          :method => :post,
          :action => :activate,
          :remote => true,
          :params => {:id => @public_map.id}
      }, {
                        :class => 'btn'
                    }
      %>
  <% else %>
      <span id="disable_message">This map is currently disabled.</span>
      <%= button_to 'Enable Map', {
          :method => :post,
          :action => :activate,
          :remote => true,
          :params => {:id => @public_map.id}
      }, {
                        :class => 'btn'
                    }
      %>
  <% end %>
</p>
<hr />
     
<%= form_for(@public_map, :url => {:controller => "public_maps", :action => "update"},
  :loading => "Element.show('layer_loading')",
  :complete => "Element.hide('layer_loading')"
  ) do |f| -%>

  
  
  <%= render :partial => 'form' , :locals => {:f => f}%>
  <hr />
  <%= render :partial => 'layers' , :locals => {:f => f, :user => @public_map} %>
  <br />
  <%= f.submit 'Update', class: "btn" %>
  <div id="layer_message"></div>

  <% end %>
