<h1>Public Map Settings: http://<%= @public_map.username %>.dedicatedmaps.com</h1>

<br />

<% url = url_for(:controller => 'maps', :action => 'show', :id => @public_map.map.id, :only_path => false) %>

<p>
      
  <%= button_to_remote 'Enable/Disable Public Map', 
  :url      => { :action => 'activate', :id => @public_map.id },
  :update   => 'disable_message',
  :loading  => "Element.show('active_loading')",
  :complete => "Element.hide('active_loading')"
  %>

  <% if @public_map.active %>
  <span id  = "disable_message">This map is currently enabled.</span>
  <% else %>
  <span id  = "disable_message">This map is currently disabled.</span>
  <% end %>
  

</p>

<hr />
     
<% form_for(@public_map, :url => {:controller => "public_maps", :action => "update"},
  :loading => "Element.show('layer_loading')",
  :complete => "Element.hide('layer_loading')"
  ) do |f| -%>

  
  
  <%= render :partial => 'form' , :locals => {:f => f}%>
  <hr />
  <%= render :partial => 'layers' , :locals => {:f => f, :user => @public_map} %>
  <br />
  <%= f.submit 'Update' %>
  <%= loader('layer_loading', 'Updating...') %>
  <div id="layer_message"></div>

  <% end %>
