<h1>Edit Layer</h1>


<ul data-tabs="tabs" class="nav nav-tabs" id="subsectiontabs">  
  <li class="active" role="presentation"><a href="#layer_tab" data-toggle="tab">Layer</a></li>  
  <% if @staging_area_company %>
    <li role="presentation"><a href="#staging_area_company_tab" data-toggle="tab">Staging Area Company</a></li>
  <% end %>
  <% if @kml %>
    <li role="presentation"><a href="#kmls" data-toggle="tab">KML</a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="layer_tab">

    <%= form_for(@layer) do |f| %>

      <%= render :partial => 'form',
      :locals  => {:layer => @layer, 
        :f => f 
      }
      %>

      <p>
        <%= f.submit 'Update', class: "btn" %>
      </p>
    
    <% end %>

  </div>

  <% if @staging_area_company %>

    <div class="tab-pane fade" id="staging_area_company_tab">
    
       <%= form_for(@staging_area_company) do |f| %>

          <%= render :partial => 'staging_area_company',
          :locals  => {:layer => @layer, 
                       :f => f
                       }
          %>

          <p>
            <%= f.submit 'Update', class: "btn" %>
          </p>

      <% end %>

    </div>
    
  <% end %>

  <% if @kml %>

    <div class="tab-pane fade" id="kmls">
      
          <%= render :partial => 'kml',
          :locals  => {:layer => @layer, 
                       :kml => @kml
                       }
          %>

    </div>
      
  <% end %>
</div>