<fieldset>
<%= csrf_meta_tags %>
<legend>Assets</legend>
  
  <%= link_to 'Add new asset', new_asset_path %><br /><br />

  <% if @assets.nil? %>

    <br />You have no assets configured.

  <% else %>

    <table class="index">
      <tr>
        <% if @loggedin_user.super? %>
          <th>Client</th>
        <% end %>
        <th>Name</th>
        <th>Active</th>
      </tr>
      
      <% @assets.each do |asset| %>
        <tr bgcolor="<%= cycle("#dddddd", "#ffffff") %>">
        <% if @loggedin_user.super? %>
          <td><%= asset.client.company_name %></td>
        <% end %>
        <td><%= asset.common_name %></td>
        <td><%= asset.is_active %></td>
        <td><%= link_to 'Edit', edit_asset_path(asset) %></td>
        <td><%= link_to 'Delete', asset, :confirm => 'Are you sure? All related data will be deleted.', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  
  <% end %>
  
</fieldset>