<% if @loggedin_user && !@anonymous_user %>  
    <li><%= link_to "My Map", map_path(@loggedin_user.map) %></li>
    <li><%= link_to "My Account", edit_user_path(@loggedin_user.id) %></li>
    <% if @loggedin_user.super? || @loggedin_user.admin? %>
          <li><%= link_to "Admin", private_path('admin') %></li>  
    <% end %>
    <li><%= link_to "Help", private_path('help') %></li>
    <li><%= link_to "Sign Out", @application_session, :method => :delete %></li>
<% else %>

  <% flash.each do |key, value| %>
        <div style="text-align:right;color:red;" class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div id="#login">
  <% logout_user if @anonymous_user && !(controller.controller_name == 'maps' && controller.action_name == 'show') %>

  <%= form_for @session, url: {controller: "sessions", action: "create"}, html: {:class => "accountinfo form-inline"} do |f| %>
  <div class="form-group">
    <%= f.text_field :username,
    :value => 'username',
    :onBlur => 'clearText(this);',
    :onFocus => 'clearText(this);',
    :class => "accountuser form-control input-sm"
    %>
  </div>
  <div class="form-group">
    <span id='pws'> 
      <%= f.password_field :password,
      :value => 'password',
      :onBlur =>'clearText(this);',
      :onFocus => 'clearText(this);',
      :class => "accountpass form-control input-sm"
      %>     
    </span>
  </div>
  <div class="form-group">
    <%= submit_tag "Log In", {:class => "btn btn-primary"} %>
    <!-- (<%= link_to_function("I forgot", 
    "$(this).up('div').childElements().invoke('toggle');
    $('username').value = $('session_username').value;"
    ) %>) -->
    <a href="#" id="forgot">I forgot</a>

  </div>
    <% end %>

  <span id="recover" style="display:none;">
    <%= form_tag({controller: "users", action: "recover"}, :class => "accountinfo", :update => "reset_message", :loading => "Element.show('reset_loading')", :complete => "Element.hide('reset_loading')") do %>

    <%= text_field_tag :username, 'username', 
    :onBlur => 'clearText(this);',
    :onFocus => 'clearText(this);',
    :class => 'accountuser form-control'
    %>

    <%= submit_tag "Reset Password", {:class => "btn"} %>

    <a href="#" id="cancel">Cancel</a>
    <span id='reset_loading' style='color:red; display:none'>loading...</span>
    <span id='reset_message' style='color:red'></span>
    <% end %>
  </span>

<% end %>