<ul class="list-group">

<% if @loggedin_user.super? %>
  <li class="list-group-item">
    <%= link_to 'Clients', clients_path, :class => :section %>
  </li>
  
  <li class="list-group-item">
    <%= link_to 'Layers', layers_path, :class => :section %>
  </li>
  
  <li class="list-group-item">
    <%= link_to 'Public Maps', public_maps_path, :class => :section %>
  </li>
  
<% end %>
  
<% if @loggedin_user.super? || @loggedin_user.admin? %>
      
  <li class="list-group-item">
    <%= link_to 'Users', users_path, :class => :section %>
  </li>

  <li class="list-group-item">
    <%= link_to 'Assets', assets_path, :class => :section %>
  </li>
 
  <li class="list-group-item">
    <%= link_to 'Tracking Devices', devices_path, :class => :section %>
  </li>
<% end %>

</ul>