<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Dedicated Maps Mapping Platform">
    <meta name="author" content="Dan Mercurio">
    <title>Dedicated Maps - Map</title>

    <%= stylesheet_link_tag 'normalize' %>
    <%= stylesheet_link_tag 'demo' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'checkboxes' %>
    <%= stylesheet_link_tag 'balloons' %>
    <style type="text/css">
    html{
        overflow: hidden;
    }
        body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        }
      #map_div {
        height:0px;
        width: 100%;

      }
      
      .link-list {
        overflow: auto;
        position: absolute;
        bottom: 0px;
        top: 10px;
        left: 0px;
        right: 0px;
      }
      .menu-wrap {
          height: 90%;
        }
      .layerLabel {
        float:left;
      }
      #pinpoint_data {
        width: 100%;
        height:70%;
        float:left;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding-top: 5px;
        padding-left: 0px;
      }
        .floatLeft {
          float: left;
        }
        .squaredFour {
              position: relative;
left: 100px;
        }
        li {
            padding:5px;
        }
        .layerBlock {
            border-radius: 5px;
            width: 95%;
            margin: 5px;
        }
        .layerBlockHeader {
            width: 100%;
	        background-color: rgba(125, 146, 178, 0.2);
            height: 50px;
            padding-top: 15px;
            padding-right: 5px;
            padding-left: 5px;
            display: flex;
            border-radius: 10px;
        }
        .layerBlockHeaderLabel {
            text-align: left;
            width: 75%;
        }
        .layerBlockCheckboxContainer {
            position: absolute;
            right: 15px;
        }
        .layerBlockContent {
            border-radius: 10px;
            display: none;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
            background-color: rgba(125, 146, 178, 0.2);
        }
        .layerBlockContent * {
            float: left;
        }
        #loadIndicator {
            display: none;
            font-size: smaller;
        }
        ::-webkit-scrollbar {
            width: 12px;
        }
        
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            border-radius: 10px;
        }
        
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
        }
        .expandLayerToggle {
            text-decoration: underline;
            cursor: context-menu;
            white-space: nowrap;
        }
    </style>
    <%= stylesheet_link_tag 'menu_cornermorph' %>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <%= javascript_include_tag 'infobubble' %>
    <%= javascript_include_tag 'dedicatedmaps' %>


    <%= csrf_meta_tag %>
  </head>
  <body data-env="<%= Rails.env %>">
    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'classie' %>
    <%= javascript_include_tag 'main' %>
  </body>
</html>