<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Dedicated Maps Mapping Platform">
    <meta name="author" content="Dan Mercurio">
    <title>Dedicated Maps - Map</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'normalize' %>
    <%= stylesheet_link_tag 'demo' %>
    <%= stylesheet_link_tag 'checkboxes' %>
    <%= stylesheet_link_tag 'balloons' %>
    <%= stylesheet_link_tag 'map' %>
    <%= stylesheet_link_tag 'menu_cornermorph' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.2/es6-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.2/es6-sham.min.js"></script>
    <script src="https://wzrd.in/standalone/es7-shim@latest"></script>
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <%= javascript_include_tag 'infobubble' %>
    <%= javascript_include_tag 'dedicatedmaps' %>


    <%= csrf_meta_tag %>
  </head>
  <body data-env="<%= Rails.env %>">
    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'classie' %>
    <%= javascript_include_tag 'main' %>
  </body>
</html>