<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Dedicated Maps Mapping Platform">
    <meta name="author" content="Dan Mercurio">

   <title>Dedicated Maps - Map</title>

    <!-- jQuery from MaxCDN -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>

    <!-- Bootstrap from MaxCDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

 

<%= stylesheet_link_tag "map" %>
 


<!-- latest google maps javascript API with dan's API key -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.21&key=AIzaSyBePgQ3O-hy_QqA0lDdd8IDkGYPrMBp7b4"></script>
  <%= javascript_include_tag "application" %>


  <%= csrf_meta_tag %>
  
</head>

<body>

  <div class="header">
    
    <div class="logo">
      <span class='client'><%= @map.user.client.company_name %></span>      
      <% if @admin_viewing %>
        <%= button_to_function 'Save Current View', 'save_map();' , {:title => 'This will save the current map location and setting for the next viewer.'}%>
        <%= 'Map owner: ' + @map.user.first_name + ' ' + @map.user.last_name %>
      <% end %>
    </div>
          
    <div class="messages" style="text-align:right">
      <span style="color:red;">
      	<%= flash[:notice] %>
      </span>
    </div>
      
    <%= render :partial=>"layouts/account_bar" %>

  </div>

  <%= yield %>

  <div class="footer" style="text-align:right; margin: 10px 10px;">
   &#169;<%= Time.now.year %> Dedicated Maps, Inc. All rights reserved.
  </div>
  
 <%= javascript_include_tag "ddmaps" %>
</body>

</html>
