<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Dedicated Maps Mapping Platform">
    <meta name="author" content="Dan Mercurio">
    <title>Dedicated Maps - Map</title>

    <%= stylesheet_link_tag "map" %> <!-- app/assets/stylesheets/map.css -->
    <%= stylesheet_link_tag 'balloons' %> <!-- app/assets/stylesheets/balloons.css -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <%= javascript_include_tag 'infobubble' %>
    <%= javascript_include_tag 'dedicatedmaps' %> <!-- app/assets/javascripts/dedicatedmaps.js -->

    <%= csrf_meta_tag %>
  </head>
  <body>
  <div id="container">
    <div id="column">
      <div id="header">
        <div id="logo"><span class="client"><%= @map.user.client.company_name %></span></div>
          <% if @admin_viewing %>
            <div id="adminMenu">
              <%= link_to_function 'Save Current View', 'save_map();',
                                   {:title => 'This will save the current map location and setting for the next viewer.'} %>
              <%= 'Map owner: ' + @map.user.first_name + ' ' + @map.user.last_name %>
            </div>
          <% end %>
        <div id="accountBar">
          <%= render :partial => "layouts/account_bar" %>
        </div>
        </div>

      <div id="mainRow">
        <%= yield %>
      </div>

    </div>
    </div>
  </body>
</html>