<!DOCTYPE html>

<html lang="en">
  <head>
  
    <title>Dedicated Maps Admin</title>
    
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "private" %>
    <%= stylesheet_link_tag "admin" %>

    <%= javascript_include_tag "application" %>

    
    <%#= calendar_date_select_includes %>
    <%# "blue" or "red", or "silver", or nil for the default %>
    
  </head>
    
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand"><span class='client'><%= @loggedin_user.client.company_name %></span></a>
        </div>
      
        <%= render :partial=>"layouts/account_bar" %>
      </div>
    </nav>
    <div id="maincontainer">

      <div id="contentwrapper">
        <div id="contentcolumn">
          <div class="innertube">
            <span style='color:red;'>
              <%= flash[:notice] %>
            </span>
            <%= yield %>
          </div>
        </div>
      </div>

      <div id="leftcolumn">
        <div class="innertube">
          <%= render :partial=>"layouts/admin_bar" %>
        </div>
      </div>
     
    </div>
    
    <div id="footer">
      &#169;<%= DateTime.now.year %> Dedicated Maps, Inc. All rights reserved.
    </div>
    
  </body>

</html>