<!DOCTYPE html>
 
<html>
<head>
  <title>Dedicated Maps</title> 
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "public" %>



  <%= javascript_include_tag "jquery" %>

  <!-- put jQuery in noConflict mode to use it with prototype.js -->
  <script type='text/javascript'>$.noConflict();</script>

  <%= javascript_include_tag "prototype" %>
  <%= javascript_include_tag "slider" %>
  <%= javascript_include_tag "livepipe" %>
  <%= javascript_include_tag "resizable" %>
  <%= javascript_include_tag "window" %>

  </head>
  <!--//onload="initialize()"-->
  <script type="text/javascript">
jQuery(document).ready(function() {
  jQuery('#forgot').click(function (){
    jQuery('form#new_session').hide();
    jQuery('#recover').show();
  });
  jQuery('#cancel').click(function() {
    jQuery('#recover').hide();
    jQuery('form#new_session').show();
  });
});

</script>
<body>

<div class="wrapper">
 <div class="header">
    <%= render :partial=>"layouts/account_bar" %>
  </div>
</div>

<% # prototype for a menu helper. this data should go in the controller -- eric
menu = [
    { 'action' => 'index', 'text' => 'Home' },
    { 'action' => 'products', 'text' => 'Products' },
    { 'action' => 'services', 'text' => 'Services' },
    { 'action' => 'about', 'text' => 'About Us' },
    { 'action' => 'contact', 'text' => 'Contact Us' },
]
menu.each do |item|
    item['class'] = item['action'] + ( controller.action_name == item['action']? 'selected' : '')
end 
%>

<div class="subheader">
    <div class="topnav">
        <ul class="menu">
            <li><img src="/images/theme/nav_bar_button_divider.gif"/></li>
            <% menu.each do |item| %>
                <li class="<%= item['class'] %>"><%= link_to item['text'], url_for(:controller => 'public', :action => item['action']) %></li>
                <li><img src="/images/theme/nav_bar_button_divider.gif"/></li>
            <% end %>
        </ul>
    </div>
</div>

<br class="brclear" />

<div class="content">
    <%= yield %>
</div>
<div class="messages" style="text-align:right">
      <span style='color:red;'>
      	<% flash[:notice] %>
      </span>
    </div>
<br class="brclear" />
<div class="footer">
    <div class="footerleft">
        
    </div>
    <div class="footerright">
        &#169;<%= Date.today.year %> Dedicated Maps, Inc. All rights reserved.
    </div>
</div>

</body>
</html>
